<style>
    * {
        box-sizing: border-box;
    }

    .block-container {
        width: 80%;
        margin: 14px auto;
        padding: 20px;
    }

    h1 {
        font-family: 'Permanent Marker', cursive;
        font-size: 3em;
        color: rgb(255, 110, 60);
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: dotted 7px rgb(255, 110, 60);

    }

    h3 {
        padding-top: 10px;
        margin-top: 20px;
        font-family: 'Permanent Marker', cursive;
        font-size: 2em;
    }

    form {
        font-family: 'Kalam', cursive;
    }

    #outstanding {
        color: rgb(255, 90, 80);
    }

    #completed {
        color: rgb(100, 200, 100);
    }

    .task-row {
        background-color: rgb(210,210,210,.6);
        border: solid 1px white;
        padding: 20px;
    }

    h4 {
        font-family: 'Kalam', cursive;
        font-size: 1.5em;
        color: black;
    }

    h5 {
        font-family: 'Kalam', cursive;
        font-size: 1.2em;
        color: rgb(60, 60, 60);
    }

    .status-bar {
        display: none;
    }

    #title-input {
        width: 300px;
    }

    #descr-input {
        width: 350px;
    }

    #due-input {
        width: 145px;
    }

    .col-lg-10 {
        padding-bottom: 30px;
    }

    #mark-complete {
        float: left;
        background-color: rgb(120, 240, 120);
        padding: 5px;
        border-radius: 10px;
        opacity: .85;
        width: 150px;
        border: none;
        color: rgb(30,30,30);
    }

    #mark-complete:hover {
        opacity: 1;
    }

    #mark-incomplete {
        background-color: rgb(255, 90, 80);
        padding: 5px;
        border-radius: 10px;
        opacity: .9;
        width: 150px;
        border: none;
        color: rgb(30,30,30);

    }

    #mark-incomplete:hover {
        opacity: 1;
    }

    #add-todo {
        background-color:rgb(255, 110, 60);
        border-radius: 10px;
        opacity: .8;
    }

    #add-todo:hover {
        opacity: 1;
    }

    @media screen and (max-width: 768px) {
        .block-container {
            width: 85%;
            margin: 10px auto;
            padding: 15px;
        }

        h3 {
            font-size: 1.5em;
        }

        h4 {
            font-size: 1.2em;
        }

        h5 {
            font-size: 1em
        }
    }

    @media screen and (max-width: 680px) {
        #title-input {
            width: 100%;
        }

        #descr-input {
            width: 100%;
        }

        #due-input {
            width: 100%;
        }
    }

    @media screen and (max-width: 600px) {
        .block-container {
            width: 90%;
            margin: 10px auto;
            padding: 12px;
        }

        h3 {
            font-size: 1.4em;
        }

        h4 {
            font-size: 1.1em;
        }

        h5 {
            font-size: 1em
        }
    }

    @media screen and (max-width: 480) {
        .block-container {
            width: 93%;
            margin: 10px auto;
            padding: 10px;
        }

        h3 {
            font-size: 1.3em;
        }

        h4 {
            font-size: 1em;
        }

        h5 {
            font-size: .9em
        }
    }


    @media screen and (max-width: 320) {
        .block-container {
            width: 95%;
            margin: 10px auto;
            padding: 8px;
        }

        h3 {
            font-size: 1.2em;
        }

        h4 {
            font-size: 1em;
        }

        h5 {
            font-size: .9em
        }
    }

    .dinosaur_hidden {
        display: none;
    }
    .dinosaur_visible {
        display: inline;
        position: fixed;
        z-index: 1;
        left: 10px;
        top: 50px;
    }
    .dinosaur__face {
        position: absolute;
        top: 34px;
        left: 0;
        width: 155px;
        height: 105px;
        z-index: 0;
    }
    .dinosaur__face-inner {
    position: absolute;
    top: 42px;
    left: 39px;
    width: 114px;
    height: 103px;
    border-radius: 18px;
    background-color: #aadca9;
    -webkit-animation: face 4s linear normal infinite;
            animation: face 4s linear normal infinite;
    }
    .dinosaur__face-inner:before {
    content: "";
    position: absolute;
    top: 76px;
    left: -13px;
    width: 50px;
    height: 42px;
    border-radius: 50%;
    background-color: #aadca9;
    }
    .dinosaur__eye {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: 26px;
    z-index: 5;

    }
    .dinosaur__eye:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    }
    .dinosaur__eye--right {
    left: 42px;
    }
    .dinosaur__eye--left {
    top: 20px;
    left: 0px;
    }
    .dinosaur__face-jagged {
    position: absolute;
    top: 31px;
    right: -23px;
    width: 23px;
    height: 59px;
    overflow: hidden;
    }
    .dinosaur__face-jagged-part {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 18px solid #7abd9a;
    border-top: 9px solid transparent;
    border-bottom: 16px solid transparent;
    top: 3px;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation: beforenone 4s linear normal infinite;
            animation: beforenone 4s linear normal infinite;
    }
    .dinosaur__face-jagged-part:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 14px solid #7abd9a;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    top: 8px;
    left: -19px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    .dinosaur__face-jagged-part:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 11px solid #7abd9a;
    border-top: 9px solid transparent;
    border-bottom: 8px solid transparent;
    top: 26px;
    left: -19px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    .dinosaur__mouth-top {
    position: absolute;
    top: 27px;
    left: -39px;
    width: 114px;
    height: 35px;
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
    overflow: hidden;
    -webkit-animation: beforenone 4s linear normal infinite;
            animation: beforenone 4s linear normal infinite;
    }
    .dinosaur__mouth-top-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 122px;
    height: 103px;
    border-radius: 27px;
    background-color: #aadca9;
    }
    .dinosaur__mouth-bottom {
    position: absolute;
    top: 46px;
    left: -40px;
    width: 114px;
    height: 35px;
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
    overflow: hidden;
    }
    .dinosaur__mouth-bottom-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 122px;
    height: 103px;
    border-radius: 27px;
    background-color: #aadca9;
    }
    .dinosaur__tails {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 66px solid #aadca9;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: translate(138px, 115px) rotate(-180deg);
    transform: translate(138px, 115px) rotate(180deg);
    -webkit-animation: tail 4s linear normal infinite;
            animation: tail 4s linear normal infinite;
    }
    .dinosaur__tails-jagged {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 11px solid #7abd9a;
    border-top: 9px solid transparent;
    border-bottom: 8px solid transparent;
    top: -62px;
    left: 11px;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
    }
    .dinosaur__tails-jagged:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid #7abd9a;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 8px;
    left: -11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    .dinosaur__tails-jagged:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid #7abd9a;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 21px;
    left: -11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    .dinosaur__hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 25px;
    border-radius: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #7abd9a;
    z-index: 10;
    -webkit-animation: hand 4s linear normal infinite;
            animation: hand 4s linear normal infinite;
    }
    .dinosaur__hand--left {
    top: 111px;
    left: 14px;
    -webkit-transform: rotate(-18deg);
            transform: rotate(-18deg);
    }
    .dinosaur__hand--left .dinosaur__claw {
    border-top: 5px solid #fff;
    border-left: 7px solid transparent;
    border-right: 1px solid transparent;
    bottom: -5px;
    left: 25px;
    }
    .dinosaur__hand--left .dinosaur__claw:before {
    border-top: 5px solid #fff;
    border-left: 7px solid transparent;
    border-right: 3px solid transparent;
    bottom: 0px;
    left: -17px;
    }
    .dinosaur__hand--left .dinosaur__claw:after {
    border-top: 5px solid #fff;
    border-left: 8px solid transparent;
    border-right: 3px solid transparent;
    bottom: 0;
    left: -26px;
    }
    .dinosaur__hand--right {
    top: 110px;
    left: 82px;
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
    }
    .dinosaur__hand--right .dinosaur__claw {
    border-top: 5px solid #fff;
    border-left: 1px solid transparent;
    border-right: 7px solid transparent;
    bottom: -5px;
    left: 3px;
    }
    .dinosaur__hand--right .dinosaur__claw:before {
    border-top: 5px solid #fff;
    border-left: 3px solid transparent;
    border-right: 7px solid transparent;
    bottom: 0;
    left: 7px;
    }
    .dinosaur__hand--right .dinosaur__claw:after {
    border-top: 5px solid #fff;
    border-left: 3px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    left: 17px;
    }
    .dinosaur__claw {
    position: absolute;
    border-top: 6px solid #fff;
    border-left: 3px solid transparent;
    border-right: 7px solid transparent;
    bottom: -6px;
    left: 3px;
    }
    .dinosaur__claw:before {
    content: "";
    position: absolute;
    border-top: 6px solid #fff;
    border-left: 3px solid transparent;
    border-right: 7px solid transparent;
    bottom: 0;
    left: 7px;
    }
    .dinosaur__claw:after {
    content: "";
    position: absolute;
    border-top: 6px solid #fff;
    border-left: 3px solid transparent;
    border-right: 6px solid transparent;
    bottom: 0;
    left: 17px;
    }

    .egg {
    z-index: 5;
    }
    .egg__top {
    position: absolute;
    top: 34px;
    left: 21px;
    width: 135px;
    height: 50px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    overflow: hidden;
    -webkit-animation: egg-top 4s linear normal infinite;
            animation: egg-top 4s linear normal infinite;
    }
    .egg__top-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background-color: #98adbb;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    }
    .egg__top-jagged {
    position: absolute;
    width: 145px;
    height: 40px;
    top: 70px;
    left: 18px;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation: egg-top-jagged 4s linear normal infinite;
            animation: egg-top-jagged 4s linear normal infinite;
    }
    .egg__top-jagged:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 14px;
    width: 112px;
    height: 84px;
    background-color: #98adbb;
    border-radius: 62%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-animation: afternone 4s linear normal infinite;
            animation: afternone 4s linear normal infinite;
    }
    .egg__top-jagged-part {
    position: absolute;
    width: 0;
    height: 0;
    border-top-color: #98adbb;
    border-top-style: solid;
    border-left-color: transparent;
    border-left-style: solid;
    border-right-color: transparent;
    border-right-style: solid;
    }
    .egg__top-jagged-part:nth-of-type(1) {
    top: 9px;
    left: 2px;
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
    border-top-width: 28px;
    border-left-width: 0;
    border-right-width: 42px;
    }
    .egg__top-jagged-part:nth-of-type(2) {
    position: absolute;
    top: 4px;
    left: 20px;
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
    border-top-width: 28px;
    border-left-width: 39px;
    border-right-width: 31px;
    }
    .egg__top-jagged-part:nth-of-type(3) {
    position: absolute;
    top: 2px;
    left: 59px;
    -webkit-transform: rotate(13deg);
            transform: rotate(13deg);
    border-top-width: 28px;
    border-left-width: 38px;
    border-right-width: 28px;
    }
    .egg__top-jagged-part:nth-of-type(4) {
    position: absolute;
    top: 12px;
    left: 110px;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    border-top-width: 20px;
    border-left-width: 29px;
    border-right-width: 0;
    }
    .egg__bottom {
    position: absolute;
    top: 134px;
    left: 11px;
    width: 155px;
    height: 67px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    overflow: hidden;
    }
    .egg__bottom-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 84px;
    background-color: #98adbb;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
    .egg__bottom-jagged {
    position: absolute;
    width: 155px;
    height: 40px;
    top: 110px;
    left: 13px;
    }
    .egg__bottom-jagged:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 3px;
    width: 20px;
    height: 50px;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
    background-color: #98adbb;
    -webkit-animation: afternone 4s linear normal infinite;
            animation: afternone 4s linear normal infinite;
    }
    .egg__bottom-jagged:after {
    content: "";
    position: absolute;
    top: -22px;
    right: 7px;
    width: 20px;
    height: 49px;
    -webkit-transform: rotate(-11deg);
            transform: rotate(-11deg);
    background-color: #98adbb;
    -webkit-animation: afternone 4s linear normal infinite;
            animation: afternone 4s linear normal infinite;
    }
    .egg__bottom-jagged-part {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom-color: #98adbb;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-left-style: solid;
    border-right-color: transparent;
    border-right-style: solid;
    }
    .egg__bottom-jagged-part:nth-of-type(1) {
    top: 10px;
    top: 13px;
    left: -1px;
    -webkit-transform: rotate(17deg);
            transform: rotate(17deg);
    border-bottom-width: 16px;
    border-left-width: 8px;
    border-right-width: 27px;
    }
    .egg__bottom-jagged-part:nth-of-type(2) {
    position: absolute;
    top: 10px;
    left: 10px;
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
    border-bottom-width: 18px;
    border-left-width: 30px;
    border-right-width: 30px;
    }
    .egg__bottom-jagged-part:nth-of-type(3) {
    position: absolute;
    top: 9px;
    left: 61px;
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
    border-bottom-width: 20px;
    border-left-width: 34px;
    border-right-width: 32px;
    }
    .egg__bottom-jagged-part:nth-of-type(4) {
    position: absolute;
    top: 7px;
    left: 104px;
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
    border-bottom-width: 20px;
    border-left-width: 34px;
    border-right-width: 13px;
    }

    .balloon {
    position: absolute;
    top: -4px;
    left: -95px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    opacity: 0;
    -webkit-animation: balloon 4s linear normal infinite;
            animation: balloon 4s linear normal infinite;
    }
    .balloon:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    -webkit-transform: rotate(-42deg);
            transform: rotate(-42deg);
    }

    .heart {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 25px;
    left: 20px;
    }
    .heart:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    width: 20px;
    height: 30px;
    background-color: #f99b9a;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    }
    .heart:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 30px;
    background-color: #f99b9a;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    }

    @-webkit-keyframes egg-top {
    0% {
        top: 34px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        left: 21px;
        width: 135px;
    }
    25% {
        top: 34px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        left: 21px;
        width: 135px;
    }
    35% {
        top: -2px;
        -webkit-transform: rotate(12deg);
                transform: rotate(12deg);
        left: 35px;
        width: 138px;
    }
    100% {
        top: -2px;
        -webkit-transform: rotate(12deg);
                transform: rotate(12deg);
        left: 35px;
        width: 138px;
    }
    }

    @keyframes egg-top {
    0% {
        top: 34px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        left: 21px;
        width: 135px;
    }
    25% {
        top: 34px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
        left: 21px;
        width: 135px;
    }
    35% {
        top: -2px;
        -webkit-transform: rotate(12deg);
                transform: rotate(12deg);
        left: 35px;
        width: 138px;
    }
    100% {
        top: -2px;
        -webkit-transform: rotate(12deg);
                transform: rotate(12deg);
        left: 35px;
        width: 138px;
    }
    }
    @-webkit-keyframes egg-top-jagged {
    0% {
        top: 70px;
        left: 18px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    25% {
        top: 70px;
        left: 18px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    35% {
        top: 29px;
        -webkit-transform: rotate(12deg);
                transform: rotate(12deg);
        left: 28px;
    }
    100% {
        top: 29px;
        -webkit-transform: rotate(12deg);
                transform: rotate(12deg);
        left: 28px;
    }
    }
    @keyframes egg-top-jagged {
    0% {
        top: 70px;
        left: 18px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    25% {
        top: 70px;
        left: 18px;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    35% {
        top: 29px;
        -webkit-transform: rotate(12deg);
                transform: rotate(12deg);
        left: 28px;
    }
    100% {
        top: 29px;
        -webkit-transform: rotate(12deg);
                transform: rotate(12deg);
        left: 28px;
    }
    }
    @-webkit-keyframes face {
    0% {
        top: 42px;
        opacity: 0;
    }
    25% {
        top: 42px;
        opacity: 0;
    }
    35% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        opacity: 1;
    }
    }
    @keyframes face {
    0% {
        top: 42px;
        opacity: 0;
    }
    25% {
        top: 42px;
        opacity: 0;
    }
    35% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        opacity: 1;
    }
    }
    @-webkit-keyframes tail {
    0% {
        -webkit-transform: translate(138px, 115px) rotate(-180deg);
        transform: translate(138px, 115px) rotate(-180deg);
    }
    25% {
        -webkit-transform: translate(138px, 115px) rotate(-180deg);
        transform: translate(138px, 115px) rotate(-180deg);
    }
    40% {
        -webkit-transform: translate(138px, 115px) rotate(-60deg);
        transform: translate(138px, 115px) rotate(-60deg);
    }
    100% {
        -webkit-transform: translate(138px, 115px) rotate(-50deg);
        transform: translate(138px, 115px) rotate(-50deg);
    }
    }
    @keyframes tail {
    0% {
        -webkit-transform: translate(138px, 115px) rotate(-180deg);
        transform: translate(138px, 115px) rotate(-180deg);
    }
    25% {
        -webkit-transform: translate(138px, 115px) rotate(-180deg);
        transform: translate(138px, 115px) rotate(-180deg);
    }
    40% {
        -webkit-transform: translate(138px, 115px) rotate(-60deg);
        transform: translate(138px, 115px) rotate(-60deg);
    }
    100% {
        -webkit-transform: translate(138px, 115px) rotate(-50deg);
        transform: translate(138px, 115px) rotate(-50deg);
    }
    }
    @-webkit-keyframes hand {
    0% {
        -webkit-transform: rotateX(-90deg);
                transform: rotateX(-90deg);
    }
    25% {
        -webkit-transform: rotateX(-90deg);
                transform: rotateX(-90deg);
    }
    35% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
    }
    }
    @keyframes hand {
    0% {
        -webkit-transform: rotateX(-90deg);
                transform: rotateX(-90deg);
    }
    25% {
        -webkit-transform: rotateX(-90deg);
                transform: rotateX(-90deg);
    }
    35% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
    }
    }
    @-webkit-keyframes afternone {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    }
    @keyframes afternone {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    26% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    }
    @-webkit-keyframes beforenone {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    }
    @keyframes beforenone {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    }
    @-webkit-keyframes balloon {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    }
    @keyframes balloon {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    }
</style>

{{!-- ======================================== --}}
{{!-- DINOSAUR GRAPHIC --}}
{{!-- ======================================== --}}

<div class="dinosaur_hidden" id="dinosaur">
    <div class="dinosaur__face">
        <div class="dinosaur__face-inner">
            <div class="dinosaur__eye dinosaur__eye--right"></div>
            <div class="dinosaur__eye dinosaur__eye--left"></div>
            <div class="dinosaur__face-jagged">
                <div class="dinosaur__face-jagged-part"></div>
            </div>
            <div class="dinosaur__mouth-top">
                <div class="dinosaur__mouth-top-inner"></div>
            </div>
            <div class="dinosaur__mouth-bottom">
                <div class="dinosaur__mouth-bottom-inner"></div>
            </div>
        </div>
        <div class="dinosaur__tails">
            <div class="dinosaur__tails-jagged"></div>
        </div>
    </div>
    <div class="egg">
        <div class="egg__top">
            <div class="egg__top-body"></div>
        </div>
        <div class="egg__top-jagged">
            <div class="egg__top-jagged-part"></div>
            <div class="egg__top-jagged-part"></div>
            <div class="egg__top-jagged-part"></div>
            <div class="egg__top-jagged-part"></div>
        </div>
        <div class="egg__bottom">
            <div class="egg__bottom-body"></div>
        </div>
        <div class="egg__bottom-jagged">
            <div class="egg__bottom-jagged-part"></div>
            <div class="egg__bottom-jagged-part"></div>
            <div class="egg__bottom-jagged-part"></div>
            <div class="egg__bottom-jagged-part"></div>
        </div>
    </div>
    <div class="dinosaur__hand dinosaur__hand--right">
        <div class="dinosaur__claw"></div>
    </div>
    <div class="dinosaur__hand dinosaur__hand--left">
        <div class="dinosaur__claw"></div>
    </div>
    <div class="balloon">
        <div class="heart"></div>
    </div>
</div>

{{!-- ======================================== --}}
{{!-- TO DO LIST ITEMS --}}
{{!-- ======================================== --}}

<div class="block-container">
    <div class="col-lg-10 mx-auto">
        <div class="block-header">
            <h1>Your Fkn Todos</h1>
            <form action="/api/todos" method="post">
                <span style="font-family: 'Courier New', Courier, monospace"><b>User Email ~~~~ </b></span><input
                    class="" placeholder="Enter your email" type="text" name="userId" id="title-input"><br>
                <span style="font-family: 'Courier New', Courier, monospace"><b>Task Title ~~~~ </b></span><input
                    class="new-todo" placeholder="What needs to be done?" type="text" name="title" id="title-input">
                <br>
                <span style="font-family: 'Courier New', Courier, monospace"><b>Description ~~~ </b></span><input
                    placeholder="How are you gunna do it?" type="text" name="description" id="descr-input"> <br>
                <span style="font-family: 'Courier New', Courier, monospace"><b>Deadline ~~~~~~ </b></span><input
                    type="date" name="dueDate" id="due-input">
                <input type="submit" value="Add todo" id="add-todo">
            </form>
        </div>

        <h3 id="outstanding">Outstanding!</h3>

        <div class="block-content">
            {{#each tasks}}{{#unless status}}

            <div class="task-row">
                <div class="userId {{userId}}">
                    <a tooltip="Task userId" class="tooltip">{{userId}}</a>
                </div>
                <div class="task-title">
                    <h4>{{title}}</h4>
                    <h5>{{description}}</h5>
                </div>
                <div class="task-status">
                    <div class="status-bar">
                        <div class="status-track">
                            <span class="status-text">{{status}}</span>
                            <div class="status-fill" style="width:{{status}}"></div>
                        </div>
                    </div>
                </div>

                <form action="/api/update/todos/{{id}}" method="post">
                    <input type="hidden" name="status" value="1">
                    <input type="submit" value="Mark Complete" id="mark-complete" onclick="showDino()">
                </form>

                <form action="/api/update/todos/{{id}}" method="post">
                    <input type="submit" value="Mark Incomplete" id="mark-incomplete">
                </form>

                <div class="task-time"><a tooltip="Time remaining " class="tooltip">{{calcRemaining}}
                        <small>( {{timeUsed}} / {{timeTotal}} )</small></a></div>
            </div>
            {{/unless}}{{/each}}
        </div>

        <h3 id="completed">Completed</h3>

        <div class="block-content">
            {{#each tasks}}{{#if status}}
            <div class="task-row">
                <div class="userId {{userId}}">
                    <a tooltip="Task userId" class="tooltip">{{userId}}</a>
                </div>
                <div class="task-title">
                    <h4>{{title}}</h4>
                    <h5>{{description}}</h5>
                </div>
                <div class="task-status">
                    <div class="status-bar">
                        <div class="status-track">
                            <span class="status-text">{{status}}</span>
                            <div class="status-fill" style="width:{{status}}"></div>
                        </div>
                    </div>
                </div>

                <form action="/api/update/todos/{{id}}" method="post">
                    <input type="hidden" name="status" value="0">
                </form>


                <div class="task-time"><a tooltip="Time remaining " class="tooltip">{{calcRemaining}}
                        <small>( {{timeUsed}} / {{timeTotal}} )</small></a></div>
            </div>
            {{/if}}{{/each}}

        </div>
    </div>
</div>

<script type="text/javascript">

    var dino = document.getElementById('dinosaur');

    function showDino() {
        var dino = document.getElementById('dinosaur');
        dino.classList.remove('dinosaur_hidden');
        dino.classList.add('dinosaur_visible');
    }

</script>